* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
	background: rgba(154, 204, 237, .7);
    color: #fff;
}
hr {
    background-color: #fff;
    color: #ffae19;
    border-radius: 50%;
    border-color: #fff;
    border-style: ridge;
    height: 3px;
    margin: 10px 40px;
}
.jumbotron,
.carousel-indicators,
.carousel-control.right,
.carousel-control.left {
    border-radius: 15px;
}
.carousel-indicators,
 .carousel-control.right,
.carousel-control.left {
	background: rgba(130, 130, 130, .4);
}
.well h2,
.well p {
    background: rgba(130, 130, 130, .6);
	border-radius: 15px;
}
.jumbotron {
    margin: 0px;
    border: 1px solid #e3e3e3;
    text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top:10px;
	margin-bottom: 10px;
	color: inherit;
	background-color: #eee;
}
.jumbotron h1 {
    font-size: 30px;
}
a,
a:link,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #999;
}
.well {
    float: left;
}
.well-lg {
    overflow: hidden;
}
.well,
.well-lg,
.jumbotron {
    background: rgba( 130, 130, 130, .5);
	border-color:#fff;
	border-width:px;
    border-radius: 30px;
}
.well,
.well-lg {
    position: relative;
    margin: 15px 50px;
    text-align: center;
    max-width: 900px;
}
.well h3,
.well-lg h3 {
    font-size: 35px;
    margin: 3px;
}
.well h2 {
    font-size: 35px;
}
.well-lg p {
    font-size: 18px;
}
.well p {
	    font-size: 20px;
}
.well img {
    margin: auto;
    padding: 20px 0;
    border-radius: 25px;
    width: 640px;
}